<div class="mx-auto my-20 h-[700px] max-w-[1000px] bg-coffee-light rounded-xl p-5 text-white text-xl">
  <p class="text-center">
    Pie
  </p>

  <div class="flex justify-center mt-48">
    <button class="rounded-xl active:bg-idk-dark bg-idk px-8 py-4" (click)="addToCart()">
      Add to cart
    </button>
  </div>

  <div class="flex justify-center mt-[175px] text-lg">
    <div class="bg-idk rounded-xl mr-3 w-[24%] py-2 px-3">

      <p class="text-center border-b-[1px]">Size</p>

      <div *ngFor="let size of sizes">

        <div *ngIf="size.id != currentSize?.id" class="text-left flex justify-between p-2 m-2 rounded-3xl max-w-40"
             (click)="selectSize(size)">
          <p>{{ size.name }}</p>
          <p>{{ size.price }}$</p>
        </div>

        <div *ngIf="size.id == currentSize?.id" class="text-left flex justify-between p-2 m-2 rounded-3xl max-w-40">
          <p>{{ size.name }}*</p>
          <p>{{ size.price }}$</p>
        </div>

      </div>

    </div>


    <div class="bg-idk rounded-xl w-[24%] py-2 px-3">

      <p class="text-center border-b-[1px]">Filling</p>

      <div *ngFor="let filling of fillings">

        <div *ngIf="filling.id != currentFilling?.id"
             class="text-left flex justify-between p-2 m-2 rounded-3xl max-w-40"
             (click)="selectFilling(filling)">
          <p>{{ filling.name }}</p>
          <p>{{ filling.price }}$</p>
        </div>

        <div *ngIf="filling.id == currentFilling?.id"
             class="text-left flex justify-between p-2 m-2 rounded-3xl max-w-40">
          <p>{{ filling.name }}*</p>
          <p>{{ filling.price }}$</p>
        </div>

      </div>

    </div>
  </div>
</div>


